@import "normalize";
@import "./Header.css";
@import "./Recipe.css";
@import "./RecipeList.css";
@import "./EditRecipe.css";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@700&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: hsl(166, 92%, 90%);
}

.edit-recipe {
  position: absolute;
  top: 5%;
  left: 55%;
}
