.input-edit {
  width: 40vw;
  height: 2.5rem;
  border-radius: 10px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.instruction {
  height: 6.5rem;
}
.btn-close {
  background-color: aqua;
  margin-left: 90%;
  border: none;
  outline: none;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  background-color: hsl(352, 100%, 62%);
  cursor: pointer;
}
.label-edit {
  font-weight: 700;
}
.edit-recipe {
  margin-top: 80px;
}

@media (max-width: 820px) {
  .btn-close {
    margin-left: 72%;
    width: 50px;
    height: 20px;
  }
}
