.receipe-list {
  border-right: 2px solid black;
  width: 50%;
  min-height: 100vh;
}

.btn-div {
  text-align: center;
  margin-top: 80px;
}
.receipe-list-btn {
  border: none;
  background: none;
  outline: none;
  border-radius: 5px;
  background-color: hsl(200, 100%, 50%);
  cursor: pointer;
  height: 40px;
  width: 130px;
  padding-top: 4px;
  text-align: center;
}

.receipe-list-btn:hover {
  background-color: hsl(200, 80%, 30%);
}
