.recipe {
  border-bottom: 2px solid black;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-left: 10px;
}

.btn {
  width: 70px;
  height: 30px;
  margin: 10px;
  border: none;
  background: none;
  outline: none;
  border-radius: 10%;
}

.btn--primary {
  background-color: hsl(200, 100%, 50%);
  cursor: pointer;
}
.btn--primary:hover {
  background-color: hsl(200, 60%, 80%);
  cursor: pointer;
}

.btn--secondary {
  background-color: hsl(352, 100%, 62%);
  cursor: pointer;
}

.btn--secondary:hover {
  background-color: hsl(352, 60%, 60%);
  cursor: pointer;
}
